@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;


.header {
    display: flex;
    justify-content: center;
    flex-direction: column;

    @include tablet{
    display: flex ;
    flex-direction: row;
    }

    &__img {
        margin-top: 1.1rem;
        height: 1.9rem;
        margin-bottom: 1.2rem;
    }

    &__mag {
        padding-left: 0.7rem;
        padding-top: 0.6rem;
        height: 1.3rem;
    }

    &__info {
        display: flex;
        margin: 0rem 1.2rem;

        &--sum {
            width: 80%;
            height: 2.5rem;
            margin-left: .5rem;
            border-radius: 0.3rem;
            border: 2px solid #E1E1E1;
            background-color: #FAFAFA;

        }
    }

    &__upPost {
        margin: 0 1.5rem;
        margin-top: 1rem;
        padding: 1rem 0;
        background-color: #0095FF;
        border: none;
        border-radius: .5rem;
        margin-bottom: 1rem;

        &--details {
            display: flex;
    justify-content: center;
    position: relative;
        }
    }

    &__upload {
        color: white;
    background: none;
    border: none;
    font-size: 0.9rem;
    }

    &__circle {
        height: 3rem;
        border-radius: 50%;
        width: 3rem;
        margin-left: 1rem;
    }

    &__upArrow {
        height: 1.6rem;
        padding-left: 1rem;
        position: absolute;
        left: 0.4rem;
    }

    &__search {
        background-color: #FAFAFA;
        border: none;
        font-size: .9rem;
        margin-left: 0.5rem;
    }
}